:root{
  --read-more-text-color:#092d53;

}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color); /* Background color */
  background-image: url('../../assets/bck.png'); /* Background image */
  background-blend-mode: overlay; /* This blends the background color and image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  padding: 40px;
}

  
  .carousel-container-primary-heading {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  .carousel-container-secondary-heading {
    font-size: 1rem;
    color: var(--white-color);
    display: flex;
    align-items: flex-end; /* Aligns text to the bottom of the container */
    margin-bottom: 20px;
    position: relative;
  }
  
  .carousel-container-secondary-heading::after {
    content: "";
    display: block;
    width: 65px; /* Adjust the width of the line */
    height: 1px; /* Adjust the height of the line */
    background-color:var(--secondary-color); /* Adjust the color of the line */
    margin-left: 10px; /* Adjust the space between the text and the line */
    margin-bottom: 8px;
  }
  
  .testimonial-container{
    display: flex;
    align-items: center;
  }
  .carousel-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background-color: white;
    overflow: hidden; /* Hide overflow for sliding effect */
    
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.6s ease;
    padding: 1rem 2rem;
    position: absolute;
    left: 0;
  }
  .read-more-button{
    color: var(--read-more-text-color);
    cursor: pointer;
  }

  .carousel-item.right {
    animation: slide-in-right 0.6s forwards;
  }
  
  .carousel-item.left {
    animation: slide-in-left 0.6s forwards;
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .carousel-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .carousel-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .testimonee-info{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonee-name{
    font-size: 14px;
    font-weight:700 ;
  }
  .testimonee-title{
    font-size: 14px;
  }
  .carousel-text p{
    margin: 5px;
  }
  .testimonee-image{
   width: 250px;
   height: 220px;
  }

  
  .carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .carousel-control-left,
  .carousel-control-right {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .testimonial-controls-arrow-image{
    height: 25px;
    width: 25px;
  }
  .testimonial-controls-arrow-left{
    color: var(--white-color);
  }
  
  .carousel-index {
    margin: 0 15px;
    color: white;
    font-size: 20px;
  }
  
.carousel-index-secondary-color{
  color: var(--secondary-color);
}




  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .modal-close-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color:var(--secondary-color);
  }
  
  .modal-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto;
  }
  
  .modal-rating {
    margin-top: 10px;
  }
  
  .modal-text {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
  }
  
  .modal-author {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .modal-title {
    font-size: 12px;
    color: #777;
  }
   