.hero-carousel-container {
    position: relative;
    background-color: #041c34;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;  
}
.hero-carousel-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.hero-carousel-text {
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
}

.hero-carousel-text h1, .hero-carousel-text h2 {
    margin: 0;
}

.hero-carousel-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 72px;
    color: #ef4a29;
}

.hero-carousel-text h2 {
    font-size: 20px;
    color: white;
}

/* Animations for text sliding in from the left */
.hero-text-enter {
    animation: hero-slide-in-left 1s forwards;
}

@keyframes hero-slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-carousel-image {
    flex: 1;
    text-align: center;
    position: relative;
}

/* Animation for image sliding in from the bottom */
.hero-image-enter {
    animation: hero-slide-in-bottom 1s forwards;
}

@keyframes hero-slide-in-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-carousel-image img {
    width: 400px;
    height: auto;
}

.hero-carousel-nav {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 20px;
    width: 100%;
}

.hero-carousel-nav-item {
    color: #ffffff;
    font-size: 28px;
}

.hero-carousel-nav-active-index, .hero-carousel-nav-by-sign {
    color: #ef4a29;
}

.hero-carousel-nav button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 30px;
}
