.product-carousel-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    padding: 1rem 0;
  }
  
  .product-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this height based on your carousel container's height */
  }
  
  .product-carousel-item img {
    max-width: 75px; /* Adjust based on your design */
    height: 75px;
    display: block;
    margin: auto;
  }
  