.awards-certifications-container {
  text-align: center;
  padding: 20px;
}

.primary-heading {
  color: var(--primary-color);
  font-size: var(--primary-heading-font-size);
  font-family: var(--primary-heading-font-family);
  transform: translateY(100px); /* Start off-screen (from below) */
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.primary-heading.slide-in {
  transform: translateY(0); /* Slide up into position */
  opacity: 1;
}

.awards-section,
.certifications-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translateY(100px); /* Start off-screen (from below) */
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  transition-delay: 1s; /* Delayed by 1 second to follow the heading */
}

.awards-section.slide-in,
.certifications-section.slide-in {
  transform: translateY(0); /* Slide up into position */
  opacity: 1;
}

.awards-section img {
  width: 125px; /* Adjust size as necessary */
  height: auto;
  margin: 0 1rem;
}

.certifications-section img {
  width: 300px; /* Adjust size as necessary */
  height: auto;
}
